// Place all the styles related to the api/bookshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-container{
  display: flex;
  padding: 10px;
}
#side {
  display: flex;
  padding: 10px;
  width: 250px;
  font-size: 14px;
}

.mini-book-cover-image {
      width: 50px;
    display: block;
}

.user-bookshelves{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #00635D;
}

.user-bookshelves h4 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 20px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.user-bookshelves .delete-btn, .user-bookshelves .add-bookslf, .user-bookshelves .cancel-btn {
  font-size: 12px;
  display: inline-block;
}

.horizontal-grey-divider{
  border-bottom: 1px solid #D8D8D8;
  margin: 0.5em 0;
}

.bookshelves-section-header{
  font-weight: bold;
  color: black;

}

.grid-padding {
  padding: 5px;
}
.grid-padding a {
  padding-right: 9px;
}

#right-col{


}

.delete-btn{
  border-radius: 3px;
  display: block;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  background-color: #bcb9b9;
  line-height: 1;
  color: black;
}
.delete-btn1{
  border-radius: 3px;
  display: block;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  background-color: #bcb9b9;
  line-height: 1;
  color: black;
  max-width: fit-content;
  padding: 1px;
  font-size: 12px;
}

.cancel-btn{
border-radius: 3px;
  display: inline;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  background-color: #F4F1EA;
  line-height: 1;
  color: black;
}

.edit-btn {
  border-radius: 3px;
  display: inline;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  background-color: #F4F1EA;
  line-height: 1;
  color: black;
}

.add-bookslf {
  border-radius: 3px;
  display: block;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  background-color: #F4F1EA;
  line-height: 1;
  color: black;
  text-align: center;
  padding: 2px;
}

.bookshelf-show-col {
  padding: 5px;
}

.individual-row li{
 list-style-type: none;
 display: flex;
}

.table-books {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 2fr 2fr;
    font-size: 14px;
    max-width: 70%;
}

.titles {
  display: table-row;
  clear: both;
  width: auto;
}
.individual-row{
  display: table-row;
}
.dropdown-bookshelves{
  color: white;
}
.dropdown-header{
  position: relative;
  background-color: #409D69;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
   display: block;
  width: 110px;
  padding: 6px 0px 6px 8px;
  cursor: pointer;
  margin-left: 64px;
}

.book-detail .dropdown-header{
   margin-left: 28px;
   position: relative;
  background-color: #409D69;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
   display: block;
  width: 110px;
  padding: 6px 0px 6px 8px;
  cursor: pointer;

}

.dropdown-checkboxes{
  position: absolute; 
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  margin: 0px;
  margin-left: -11px;
  color: black;
  min-width: 20px;
  box-shadow: 0 3px 4px -3px rgba(0,0,0,0.5);
  z-index: 1;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #ffffff;
}

.grid-individual-element {
  border-bottom: 1px solid #D8D8D8;
  margin: 0.5em 0;
  padding: 10px;
  font-weight: bold;
}
.grid-individual-element2 {
  border-bottom: 2px solid #EBE8D5;
  margin: 0.5em 0;
  padding: 10px;
}

.single-bookshelf input,
.single-bookshelf label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align:  middle;
}

.dropdown-checkboxes ul {
  padding: 8px;
  margin-block-start: 9px;
  margin-block-end: 0px;
  padding-inline-start: 12px;
  padding-inline-end: 42px;
}

.dropdown-checkboxes label:hover{
  background-color: #f1f1f1;
  display: block;
}

#add-form {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #ffffff;
}

#add-form:hover {
  background-color: #f1f1f1;
  display: block;
}

section a {
  color: #00635D;
}

#author {
  color: #00635D;
}